* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

:root {
  --purple: rgba(101, 31, 255, 1);
  --faintBlack: rgba(92, 95, 110, 1);
  --boldBlack: rgba(11, 13, 14, 1);
  --white: rgba(255, 255, 255, 1);
  --faintPurple: rgba(236, 236, 254, 1);
  --faintPurple2: rgb(244, 244, 252);
  --skyBlue: rgba(224, 247, 250, 1);
  --darkSkyBlue: rgba(0, 229, 255, 1);
  --moreWhite: rgba(255, 255, 255, 1);
  --footerFontCol: rgba(226, 228, 233, 1);
  --footerBg: rgba(26, 40, 78, 1);

  --sm14: 1.4rem;
  --font16: 1.6rem;
  --font18: 1.8rem;
  --font32: 3.2rem;
  --font36: 3.6rem;
  --font48: 4.8rem;
  --font56: 5.6rem;
}
header {
  position: relative;
  width: 100vw;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--white);
  width: 100%;
  height: 6.4rem;
  font-size: var(--font16);
}
.logoCont {
  width: 16.9rem;
  height: 4rem;
}
.logoCont img {
  width: 100%;
  height: 100%;
}

.ul1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 40vw;
}
nav li,
a {
  list-style: none;
  text-decoration: none;
  color: var(--faintBlack);
  /* color: red; */
}

.ul2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.sign {
  width: 11.2rem;
  height: 4.2rem;
  border: 2px solid black;
  /* padding: 0.5rem 1.5rem; */
  border-radius: 0.6rem;
  font-weight: bold;
  color: var(--boldBlack);
  display: flex;
  justify-content: center;
  align-items: center;
}
.create {
  width: 19.4rem;
  height: 4.2rem;
  background-color: var(--purple);
  padding: 0.5rem 1rem;
  color: white;
  border-radius: 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: var(--faintPurple2);
  width: 100vw;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 15.6rem;
  padding-bottom: 16.2rem;
}
main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  height: 43.4rem;

  background-color: var(--faintPurple);
  border-radius: 1rem;
  margin-top: 12.7rem;
}
main .leftdiv {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.5rem;
  width: 50rem;
}
main h1 {
  color: var(--boldBlack);
  font-size: var(--font56);
}
main p {
  color: var(--faintBlack);
  font-size: var(--font18);
}
main .leftdiv button {
  width: 17.4rem;
  height: 4.8rem;
  background-color: var(--purple);
  color: var(--white);
  /* padding: 1rem; */
  border: none;

  border-radius: 0.6rem;
}
main .rightdiv {
  width: 63.3rem;
}
main .rightdiv img {
  width: 100%;
}

.section1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  height: 50rem;
  border-radius: 1rem;
}
.section1 .leftdiv {
  display: flex;
  /* flex-direction: column; */
  align-items: start;
  gap: 1.5rem;
  width: 50%;
}

.section1 .leftdiv .one h1 {
  width: 8rem;
  height: 8rem;
  font-size: 4rem;
  background-color: var(--purple);
  color: var(--white);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.section1 .leftdiv .writeUp {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.5rem;
  width: 40%;
}
.section1 h1 {
  color: var(--boldBlack);
  font-size: var(--font36);
}
.section1 p {
  color: var(--faintBlack);
  font-size: var(--font18);
}
.section1 ol {
  color: var(--faintBlack);
  font-size: var(--font18);
}
.section1 .leftdiv button {
  background-color: var(--purple);
  color: var(--white);
  padding: 1rem;
  border: none;
  border-radius: 0.6rem;
}
.section1 .rightdiv {
  width: 50rem;
  height: 50rem;
  background-color: var(--skyBlue);
  border-radius: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section1 .rightdiv img {
  width: 42.5rem;
  height: 40.1rem;
}

.article1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  height: 43.4rem;
  background-color: var(--darkSkyBlue);
  border-radius: 1rem;
  margin-top: 12.7rem;
}
.article1 .leftdiv {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.5rem;
  width: 50rem;
}
.article1 h1 {
  color: var(--white);
  font-size: var(--font56);
}
.article1 p {
  color: var(--faintPurple);
  font-size: var(--font18);
}

.article1 .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  font-size: var(--font16);
}
.article1 .leftdiv button {
  width: 17.4rem;
  height: 4.8rem;
  color: var(--white);
  /* padding: 1rem; */
  border-radius: 0.6rem;
}

.btn1 {
  background-color: var(--purple);
  border: none;
}
.btn2 {
  background: none;
  border: 2px solid var(--white);
}
.article1 .rightdiv {
  width: 43.4rem;
  height: 43.4rem;
}
.article1 .rightdiv img {
  width: 100%;
  height: 100%;
}

.article2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55rem;
  height: 55rem;
  gap: 2.4rem;
}
.article2 .div1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  text-align: center;
  background-color: var(--white);
  border-radius: 2.4rem;
  width: 55rem;
  height: 55rem;
}
.article2 .imgCont {
  width: 41.8rem;
  height: 27.9rem;
}
.article2 .imgCont img {
  width: 100%;
  height: 100%;
}
.div1 h2 {
  font-size: var(--font32);
  color: var(--boldBlack);
}
.div1 p {
  font-size: var(--font16);
  color: var(--boldBlack);
}

.div1 .arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border: navajowhite;
  background: none;
  cursor: pointer;
}

footer {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 45.4rem;
  background-color: var(--footerBg);
  padding: 6.4rem 15.6rem 3.2rem 15.7rem;
  gap: 7.8rem;
  color: var(--footerFontCol);
}
footer a,
li {
  list-style: none;
  color: var(--footerFontCol);
  font-size: var(--font16);
}
footer .topdiv {
  display: flex;
  justify-content: center;
  align-items: start;
  /* gap: 5rem; */
}
footer .topdiv .div1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 36.4rem;
  height: 25.9rem;
  gap: 3.2rem;
  align-self: flex-start;
}
footer .topdiv .div1 h5 {
  font-size: var(--font16);
  color: var(--footerFontCol);
}
footer .topdiv .div1 p {
  font-size: var(--font16);
  color: var(--footerFontCol);
}

footer .imgCont {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.div1 ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1rem;
}
footer .bottomDiv {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 1.4rem;
}

footer .iconCont {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
