* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

:root {
  --purple: rgba(101, 31, 255, 1);
  --faintBlack: rgba(92, 95, 110, 1);
  --boldBlack: rgba(11, 13, 14, 1);
  --white: rgba(255, 255, 255, 1);
  --faintPurple: rgba(236, 236, 254, 1);
  --faintPurple2: rgb(244, 244, 252);
  --skyBlue: rgba(224, 247, 250, 1);
  --darkSkyBlue: rgba(0, 229, 255, 1);
  --moreWhite: rgba(255, 255, 255, 1);
  --footerFontCol: rgba(226, 228, 233, 1);
  --footerBg: rgba(26, 40, 78, 1);
  --fontPurple: rgba(131, 134, 150, 1);
  --codeContBg: rgba(26, 40, 78, 1);

  --sm14: 1.4rem;
  --font16: 1.6rem;
  --font18: 1.8rem;
  --font32: 3.2rem;
  --font36: 3.6rem;
  --font48: 4.8rem;
  --font56: 5.6rem;
}
header {
  position: relative;
  width: 100vw;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--white);
  width: 100%;
  height: 6.4rem;
  font-size: var(--font16);
}
.logoCont {
  width: 16.9rem;
  height: 4rem;
}
.logoCont img {
  width: 100%;
  height: 100%;
}

.ul1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 40vw;
}
nav li,
a {
  list-style: none;
  text-decoration: none;
  color: var(--faintBlack);
  /* color: red; */
}

.ul2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.sign {
  width: 11.2rem;
  height: 4.2rem;
  border: 2px solid black;
  /* padding: 0.5rem 1.5rem; */
  border-radius: 0.6rem;
  font-weight: bold;
  color: var(--boldBlack);
  display: flex;
  justify-content: center;
  align-items: center;
}
.create {
  width: 19.4rem;
  height: 4.2rem;
  background-color: var(--purple);
  padding: 0.5rem 1rem;
  color: white;
  border-radius: 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(250, 250, 250, 1);
  width: 100vw;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 78rem;
  background-color: var(--skyBlue);
}
main .leftDiv {
  width: 65.1rem;
  height: 57.618rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 2rem;
}

main .leftDiv h1 {
  font-size: 5.6rem;
}
main .leftDiv p {
  font-size: 1.8rem;
}

main .leftDiv .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font16);
  gap: 1.9rem;
}
main .leftDiv .btn button {
  width: 17.4rem;
  height: 4.8rem;
  border-radius: 1.2rem;
}

main .leftDiv .btn1 {
  background-color: var(--purple);
  border: none;
  color: var(--white);
}
main .leftDiv .btn2 {
  background: none;
  border: 2px solid var(--boldBlack);
  color: var(--boldBlack);
}

main .imgCont {
  width: 65.1rem;
  height: 57.618rem;
}
main img {
  width: 100%;
  height: 100%;
}
.section1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin-top: 13.5rem;
  gap: 6.4rem;
}

.section1 .writeUp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}
.section1 .writeUp h1 {
  font-size: var(--font48);
  color: var(--boldBlack);
}

.section1 .writeUp p {
  font-size: var(--font18);
  color: var(--fontPurple);
}

.boxes {
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
}

.boxes .box1 {
  width: 35.9rem;
  height: 26.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  background-color: var(--white);
  gap: 2.4rem;
  padding: 3.2rem;
  border-radius: 2.4rem;
}
.boxes .box1 div {
  width: 6.4rem;
  height: 6.4rem;
  background-color: var(--faintPurple);
  border-radius: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxes .box1 h5 {
  font-size: 2.4rem;
  color: var(--boldBlack);
}
.boxes .box1 p {
  font-size: 1.6rem;
  color: var(--fontPurple);
}

.section2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  gap: 5.8rem;
  margin-top: 17.4rem;
}

.section2 .code {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 56.3rem;
  height: 56.3rem;
}
.section2 .topCode {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 56.3rem;
  height: 4.8rem;
  background-color: var(--boldBlack);
  border-top-right-radius: 2.4rem;
  border-top-left-radius: 2.4rem;
}
.section2 .code .dots {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.6rem;
  padding: 4rem;
}

.section2 .code .dots span {
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 2.4rem;
}
.section2 .code .dots .span1 {
  background-color: red;
}
.section2 .code .dots .span2 {
  background-color: yellow;
}
.section2 .code .dots .span3 {
  background-color: green;
}
.section2 .codeCont {
  width: 56.3rem;
  height: 51.5rem;
  background-color: var(--codeContBg);
  border-bottom-right-radius: 2.4rem;
  border-bottom-left-radius: 2.4rem;
  padding-top: 3.5rem;
  padding-left: 4.6rem;
  font-size: 1.4rem;
}
.section2 .rightDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.2rem;
  width: 56.3rem;
  height: 51.5rem;
}

.section2 .rightDiv h2 {
  font-size: 4.8rem;
}
.section2 .rightDiv p {
  font-size: var(--font18);
  line-height: 3.2rem;
  color: var(--fontPurple);
}
.section2 .btns {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 3rem;
  width: 37.4rem;
}
.section2 .btns button {
  width: 17.7rem;
  height: 4.8rem;
  border-radius: 1.2rem;
  background-color: var(--purple);
  color: var(--white);
  border: none;
  font-weight: bold;
}
.section2 .btns :nth-child(2) {
  background: none;
  border: 2px solid var(--boldBlack);
  color: var(--boldBlack);
}

.section3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 50vw;
  margin-top: 15.9rem;
}
.section3 h2 {
  font-size: 4.8rem;
}
.section3 p {
  font-size: 1.8rem;
  color: var(--fontPurple);
}

.section3 .boxCont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2.4rem;
}
.section3 .boxCont h3 {
  font-size: 2.4rem;
  color: var(--boldBlack);
}
.section3 .boxCont {
  display: flex;
  flex-wrap: wrap;
}

.section3 .box {
  display: flex;
  justify-content: start;
  align-items: start;
  background-color: var(--skyBlue);
  width: 35.6rem;
  height: 26.8rem;
  gap: 2rem;
  border-radius: 2.4rem;
  padding: 4.8rem;
}
.section3 .box .list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.section3 .box .list div {
  display: flex;
  justify-content: start;
  align-items: center;
  /* flex-direction: column; */
  gap: 2rem;
}
.section4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5.8rem;
  background-color: var(--footerBg);
  margin-top: 15rem;
  padding-top: 7.4rem;
  width: 100vw;
  padding-bottom: 7.4rem;
}

.section4 .insomnia {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.section4 h2 {
  font-size: 3.6rem;
  color: var(--white);
}
.section4 .insomnia img {
  width: 5.6rem;
  height: 5.6rem;
}
.section4 .imgCont {
  width: 85rem;
  height: 54.561rem;
}
.section4 .imgCont img {
  width: 100%;
  height: 100%;
}

.section4 p {
  font-size: 1.8rem;
  width: 83.8rem;
  text-align: center;
  color: var(--fontPurple);
}
.section4 .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
}
.section4 .btn button {
  width: 19.8rem;
  height: 4.8rem;
  border-radius: 1.2rem;
  border: 2px solid var(--white);
  background: none;
  color: var(--white);
}

.section5 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin-top: 12.3rem;
}

.section5 .containers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 112.4rem;
  height: 72.5rem;
  gap: 2.5rem;
}
.section5 .containers .topCont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 2.4rem;
  /* width: 55rem; */
}
.section5 .containers .topCont .box1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 55rem;
  height: 35rem;
  gap: 1rem;
  border-radius: 2.4rem;
  background-color: var(--white);
  padding: 5rem;
}
.section5 .containers h2 {
  font-size: 3.2rem;
  align-self: flex-start;
}
.section5 .containers p {
  font-size: 1.6rem;
  align-self: flex-start;
}
.section5 .containers .imgConts {
  font-size: 1.6rem;
  align-self: flex-end;
  width: 28rem;
  height: 22.9rem;
}
.section5 .containers .imgConts img {
  width: 100%;
  height: 100%;
}
.section5 .containers a {
  font-size: 1.6rem;
  font-weight: 400;
  align-self: flex-start;
  display: flex;
  gap: 1rem;
  color: var(--darkSkyBlue);
}
.section5 .containers .box3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 73.8rem;
  height: 35rem;
  gap: 0;
  border-radius: 2.4rem;
  background-color: var(--white);
  padding: 1rem;
}
.section5 .containers .box4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 36.4rem;
  height: 35rem;
  gap: 1rem;
  border-radius: 2.4rem;
  background-color: var(--white);
  padding: 10rem 5rem;
}
.section5 .bottomCont {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
}
.section5 .bottomCont .box3 button {
  width: 19.8rem;
  height: 20.4rem;
  border-radius: 1.2rem;
  background: none;
  color: var(--white);
  background-color: var(--purple);
  align-self: flex-start;
}
article {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 42.9rem;
  background-color: var(--skyBlue);
  margin-top: 13rem;
}
article .input {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
article h5 {
  color: var(--purple);
  font-size: 1.8rem;
}
article h1 {
  color: var(--boldBlack);
  font-size: 3.6rem;
}
article .inputCont {
  width: 40.4rem;
  height: 6rem;
  display: flex;
  background-color: var(--white);
  padding: 1rem;
}
article input {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 44.4rem;
  height: 4rem;
  border: none;
}
article button {
  width: 12.9rem;
  background-color: var(--purple);
  border: none;
  border-radius: 1.2rem;
  color: white;
}
article p {
  font-size: var(--font16);
  color: var(--fontPurple);
}

article .right {
  width: 50rem;
  height: 50rem;
}
article .right img {
  width: 100%;
  height: 100%;
}
/* footer////////////////////////////////////////////////////////////////// */
footer {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 45.4rem;
  background-color: var(--footerBg);
  padding: 6.4rem 15.6rem 3.2rem 15.7rem;
  gap: 7.8rem;
  color: var(--footerFontCol);
}
footer a,
li {
  list-style: none;
  color: var(--footerFontCol);
  font-size: var(--font16);
}
footer .topdiv {
  display: flex;
  justify-content: center;
  align-items: start;
}
footer .topdiv .div1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 36.4rem;
  height: 25.9rem;
  gap: 3.2rem;
  align-self: flex-start;
}
footer .topdiv .div1 h5 {
  font-size: var(--font16);
  color: var(--footerFontCol);
}
footer .topdiv .div1 p {
  font-size: var(--font16);
  color: var(--footerFontCol);
}

footer .imgCont {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.div1 ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1rem;
}
footer .bottomDiv {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 1.4rem;
}

footer .iconCont {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
